.testimonialSection {
    text-align: center;
    padding: 50px 20px;
    padding-top: 85px;
    margin-top: 50px;
}

.title {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #2b2b2b;
    font-weight: bold;
}


.testimonialLabel {
    font-size: 0.8rem !important;
    color: #f7a603 !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}